{% extends 'base.html' %}
{% load static %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="/contact">User Comment</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-10">
                    <div class="section-title">
                        <h4 class="title">User Order List</h4>
                    </div>
                    <table class="shopping-cart-table table">

                        {% for rs in comments %}
                            <tr>
                                <td class="text-left">
                                    <a href="/product/{{ rs.product_id }}">
                                        <strong> {{ rs.product.sku}}</strong>
                                    </a>
                                </td>
                                <td class="text-left"><strong style="color:#E10074">Rating:</strong> {{ rs.rate}} </td>
                                <td class="text-left"><strong style="color:#E10074">Subject:</strong> {{ rs.subject}} </td>
                                <td class="text-left"><strong style="color:#E10074">Comment: </strong>{{ rs.comment}}</td>
                                <td class="text-left"><strong style="color:#E10074">{{ rs.status}}  </strong> </td>
                                <td class="text-left"><strong style="color:#E10074">Date:</strong> {{ rs.create_at}} </td>
                                <td class="text-left">
                                    <a class="primary-btn" href="/deletecomment/{{ rs.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}